*{
    margin: 0;
    padding: 0;
}

#container{
    border: 1px solid black;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    /*-ms-transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
}

#calc{
    display: flex;
    flex-direction: column;
}

#display{
    height: 30px;
    border: 2px red solid;
    min-width: 200px;
    margin: auto;
}

button{
    width: 40px;
    height: 20px;
    margin: 5px;
}
